{% extends "base.html" %}
{% load static %}

{% block title %}Блог{% endblock title %}
{% block content %}
  <!--Start breadcrumb area-->
  <section class="breadcrumb-area">
    <div class="container text-center">
      <h1>Blog Grid View</h1>
    </div>
  </section>
  <!--End breadcrumb area-->

  <!--Start breadcrumb bottom area-->
  <section class="breadcrumb-botton-area">
    <div class="container">
      <div class="left">
        <ul>
          <li><a href="index-2.html">Home</a></li>
          <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
          <li class="active">Blog Grid View</li>
        </ul>
      </div>
    </div>
  </section>
  <!--End breadcrumb bottom area-->

  <!--Start blog area-->
  <section id="blog-area" class="blog-grid-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="blog-post">
            <div class="row">
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-1.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">By Fletcher</a></li>
                      <li><a href="#">April 21, 2016</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Installation & Maintenance Guide</h3>
                    </a>
                    <div class="text">
                      <p>know how to pursue pleasure rationally seds encounter consequences.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-2.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by Fernancy</a></li>
                      <li><a href="#">Jan 27, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Prepare to Enjoy This Vacation</h3>
                    </a>
                    <div class="text">
                      <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-3.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by georgly</a></li>
                      <li><a href="#">March 14, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Deciding To Replace Your Equipment.</h3>
                    </a>
                    <div class="text">
                      <p>Desires to obtain pain ut of itself, because it is pain because occasionally.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-4.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by John</a></li>
                      <li><a href="#">Jan 18, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">How to Identify Heat Exhaustion.</h3>
                    </a>
                    <div class="text">
                      <p>know how to pursue pleasure rationally seds encounter consequences.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-5.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by fernancy</a></li>
                      <li><a href="#">Feb 23, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Water Heater Repair & Replacement.</h3>
                    </a>
                    <div class="text">
                      <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-6.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by Karlina</a></li>
                      <li><a href="#">Feb 27, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Air Conditioning Cleaning Guide.</h3>
                    </a>
                    <div class="text">
                      <p>Desires to obtain pain ut of itself, because it is pain because occasionally.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-7.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by Smith</a></li>
                      <li><a href="#">Mar 27, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Alternative to an Air Conditioner.</h3>
                    </a>
                    <div class="text">
                      <p>know how to pursue pleasure rationally seds encounter consequences.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
              <!--Start single latest blog-->
              <div class="col-md-6">
                <div class="single-blog-post">
                  <div class="img-holder">
                    <img src="images/blog/blog-grid-8.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <ul class="meta-info">
                      <li><a href="#">by Jerry kim</a></li>
                      <li><a href="#">jun 15, 2017</a></li>
                    </ul>
                    <a href="blog-single.html">
                      <h3 class="blog-title">Prepare Your Heater for Winter.</h3>
                    </a>
                    <div class="text">
                      <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single latest blog-->
            </div>
            <!--Start post pagination-->
            <div class="row">
              <div class="col-md-12">
                <ul class="post-pagination text-center">
                  <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!--End post pagination-->
          </div>
        </div>
        <!--Start sidebar Wrapper-->
        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
          <div class="sidebar-wrapper">
            <!--Start single sidebar-->
            <div class="single-sidebar">
              <form class="search-form" action="#">
                <input placeholder="Search..." type="text">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>
            <!--End single sidebar-->
            <!--Start single sidebar-->
            <div class="single-sidebar">
              <div class="sec-title">
                <h3>Categories</h3>
              </div>
              <ul class="categories clearfix">
                <li><a href="#">A/C Installation<span>(6)</span></a></li>
                <li><a href="#">Repair & Maintenance<span>(2)</span></a></li>
                <li><a href="#">Heating & Furnace<span>(5)</span></a></li>
                <li><a href="#">Commericial Work<span>(10)</span></a></li>
                <li><a href="#">Uncategorized Post<span>(4)</span></a></li>
              </ul>
            </div>
            <!--End single sidebar-->
            <!--Start single sidebar-->
            <div class="single-sidebar">
              <div class="sec-title">
                <h3>Popular Post</h3>
              </div>
              <ul class="popular-post">
                <li>
                  <div class="img-holder">
                    <img src="images/sidebar/popular-post-1.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title-holder">
                    <a href="#"><h5 class="post-title">Tips for Saving Money on<br>Your Heating Bills</h5></a>
                    <h6 class="post-date">April 21, 2017</h6>
                  </div>
                </li>
                <li>
                  <div class="img-holder">
                    <img src="images/sidebar/popular-post-2.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title-holder">
                    <a href="#"><h5 class="post-title">Air Conditioning Installation<br>& Maintenance Guide</h5></a>
                    <h6 class="post-date">March 14, 2017</h6>
                  </div>
                </li>
                <li>
                  <div class="img-holder">
                    <img src="images/sidebar/popular-post-3.jpg" alt="Awesome Image">
                    <div class="overlay-style-one">
                      <div class="box">
                        <div class="content">
                          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title-holder">
                    <a href="#"><h5 class="post-title">Electric or Gas Water Heater<br>Replacement</h5></a>
                    <h6 class="post-date">January 10, 2017</h6>
                  </div>
                </li>
              </ul>
            </div>
            <!--End single sidebar-->
            <!--Start single-sidebar-->
            <div class="single-sidebar">
              <div class="sec-title">
                <h3>Facebook Feed</h3>
              </div>
              <div class="fb-feed">
                <img src="images/sidebar/fb-follow-us.jpg" alt="">
              </div>
            </div>
            <!--End single-sidebar-->
            <!--Start single-sidebar-->
            <div class="single-sidebar">
              <div class="sec-title">
                <h3>Tag Cloud</h3>
              </div>
              <ul class="popular-tag">
                <li><a href="#">Repair</a></li>
                <li><a href="#">Vacation</a></li>
                <li><a href="#">Ventilation</a></li>
                <li><a href="#">Residential</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Replace</a></li>
                <li><a href="#">Materials</a></li>
                <li><a href="#">Alternative</a></li>
              </ul>
            </div>
            <!--End single-sidebar-->
          </div>
        </div>
        <!--End Sidebar Wrapper-->
      </div>
    </div>
  </section>
  <!--End blog area-->
{% endblock content %}
